@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@338&family=Satisfy&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --bright-grey: #cccccc;
  --light-grey: #4d4d4d;
  --dark-grey: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* general font will be Quicksand */
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* overflow: scroll; */
}
