@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@338&family=Satisfy&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --white: #fafafa;
  --bright-grey: #cccccc;
  --light-grey: #4d4d4d;
  --dark-grey: #1a1a1a;
  /* fonts */
  --font-quicksand: 'Quicksand', sans-serif;
  --font-satisfy: 'Satisfy', cursive;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
}

.layout {
  flex-direction: column;
  height: 100svh;
  width: 100vw;
  /* general font will be Quicksand */
  font-family: var(--font-quicksand);
  font-weight: 500;
}
