.home-container {
  flex-direction: column;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--dark-grey);
  background: var(--bright-grey);
  text-align: left;
  padding: 5rem;
  flex-basis: 100%;
}
