.featured-container {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}

.collection-container {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}
