.nav-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px -2px #000000;
  position: static;
  top: 0;
}

.notification-container {
  display: flex;
  flex: 1;
  background: var(--dark-grey);
  color: white;
  min-height: 60px;
  max-height: 60px;
  justify-content: center;
  align-items: center;
}

.nav-menu-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  padding-bottom: 10px;
  /* border: 2px solid red; */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* border: 2px solid red; */
}

.nav-logo {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 2.5rem;
  border: 2px solid var(--light-grey);
  border-radius: 50%;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  gap: 2px;
}

.nav-menu li:hover {
  border-radius: 5px;
  box-shadow: 0 2px 5px -2px black;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #000000;
}

.nav-item {
  text-decoration: none;
  color: var(--light-grey);
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-login-cart button {
  font-size: 17px;
  border: none;
  background: white;
  color: var(--dark-grey);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 5px -2px black;
}

.nav-login-cart button:active {
  background: var(--light-grey);
  color: white;
}

.nav-login-cart img {
  cursor: pointer;
}

.nav-cart-count {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
  margin-top: -25px;
  font-weight: 800;
  background: red;
  color: white;
  border-radius: 50%;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-menu-container {
    flex-direction: column;
    height: fit-content;
    align-items: start;
    padding: 5px 1rem;
    gap: 1rem;
  }

  .logo-container {
    width: 100%;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .menu-icon:hover {
    background-color: var(--bright-grey);
    box-shadow: 0 1px 5px -2px black;
  }

  .hide {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-item,
  .nav-menu li {
    width: 100%;
  }

  .nav-menu hr {
    width: 4rem;
  }
}
